<h2 class="mb-8 text-3xl text-center">Built-In Components</h2>

<h2 class="mb-8 text-3xl text-center">Alert</h2>

<section class="[&>*]:mb-4">
  <.alert kind="primary">Primary alert</.alert>
  <.alert kind="secondary">Secondary alert</.alert>
  <.alert kind="accent">Accent alert</.alert>
  <.alert kind="neutral">Neutral alert</.alert>
  <.alert kind="info">Info alert</.alert>
  <.alert kind="success">Success alert</.alert>
  <.alert kind="warning">Warning alert</.alert>
  <.alert kind="error">Error alert</.alert>
</section>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Back</h3>

<div class="text-center">
  <.back navigate="/">
    Back
  </.back>
</div>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Button</h3>

<section class="flex justify-center flex-wrap gap-1">
  <div>
    <.button kind="primary" class="w-32 m-1">
      Primary
    </.button>
    <.button kind="secondary" class="w-32 m-1">
      Secondary
    </.button>
  </div>
  <div>
    <.button kind="accent" class="w-32 m-1">
      Accent
    </.button>
    <.button kind="neutral" class="w-32 m-1">
      Neutral
    </.button>
  </div>
  <div>
    <.button kind="info" class="w-32 m-1">
      Info
    </.button>
    <.button kind="success" class="w-32 m-1">
      Success
    </.button>
  </div>
  <div>
    <.button kind="warning" class="w-32 m-1">
      Warning
    </.button>
    <.button kind="error" class="w-32 m-1">
      Error
    </.button>
  </div>
</section>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Error</h3>

<div class="flex flex-center">
  <.error>Error message</.error>
</div>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Flash Messages</h3>

<section class="text-center">
  <div>
    <.button kind="info" class="w-40 m-1" phx-click="flash-show-info">
      Info Flash
    </.button>
    <.button kind="success" class="w-40 m-1" phx-click="flash-show-success">
      Success Flash
    </.button>
  </div>
  <div>
    <.button kind="warning" class="w-40 m-1" phx-click="flash-show-warning">
      Warning Flash
    </.button>
    <.button kind="error" class="w-40 m-1" phx-click="flash-show-error">
      Error Flash
    </.button>
  </div>
  <div>
    <.button class="w-40 m-1" phx-click="flash-show-long">
      Long Flash
    </.button>
  </div>
</section>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Form Actions Default</h3>

<div class="text-center">
  <.simple_form id="component-showcase-form-actions-default-form" for={%{}}>
    <:actions>
      <.form_actions_default />
    </:actions>
  </.simple_form>
</div>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Header</h3>

<.header class="m-2 bg-info text-info-content">
  Header Title
</.header>

<.header class="m-2 bg-success text-success-content">
  Header Title
  <:subtitle>
    Header subtitle
  </:subtitle>
</.header>

<.header id="header-warning" class="m-2 bg-warning text-warning-content">
  Header Title
  <:subtitle>
    Header subtitle
  </:subtitle>
  <:actions>
    <.button class="w-28" phx-click={hide("#header-warning")}>
      Hide me
    </.button>
  </:actions>
</.header>

<.header class="m-2 bg-error text-error-content">
  Header Title
  <:subtitle>
    Header subtitle
  </:subtitle>
  <:actions>
    <.button kind="secondary" class="w-28">Action 1</.button>
    <.button kind="primary" class="w-28">Action 2</.button>
  </:actions>
</.header>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">List</h3>

<.description_list>
  <:item title="Item 1">Value 1</:item>
  <:item title="Item 2">Value 2</:item>
  <:item title="Item 3">Value 3</:item>
</.description_list>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">LiveView + Alpine Reactivity Demo</h3>

<div x-data x-init="$el.scrollIntoView()" />

<div
  phx-hook="HookEventProxy"
  id="hook-event-proxy-demo"
  class="max-w-md mx-auto my-12 p-4 bg-secondary/20 text-center rounded-box"
  data-lv-count={assigns[:reactivity_demo_count] || 0}
  x-data="{
    init() {
      this.count = Number(this.$root.dataset.lvCount);
    },
    mounted(evt) { this.hook = evt.detail.hook; },
    updated(evt) { this.init() },
  }"
  x-on:mounted="mounted"
  x-on:updated="updated"
>
  <div class="mt-4 flex flex-center">
    Count: <span class="pl-2 font-bold" x-text="count" />
  </div>
  <div class="my-4">
    <button class="btn btn-primary" phx-click="reactivity-demo-handle-click">Increment</button>
  </div>
</div>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Modal</h3>

<section class="text-center">
  <.button phx-click={show_modal("component-showcase-modal")}>
    Show Modal
  </.button>
</section>

<.modal id="component-showcase-modal" on_confirm={hide_modal("component-showcase-modal")}>
  <:title>Modal Title</:title>
  <:subtitle>Modal Subtitle</:subtitle>
  <div class="my-8">
    Modal content
  </div>
  <:confirm>OK</:confirm>
  <:cancel>Cancel</:cancel>
</.modal>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Show/Hide</h3>

<section class="text-center">
  <.button phx-click={show("#showcase-show-hide")}>Show</.button>
  <.button phx-click={hide("#showcase-show-hide")}>Hide</.button>

  <p class="mt-2">
    <span id="showcase-show-hide">Now you see me...</span>
  </p>
</section>

<div class="my-8 divider" />

<h3 class="text-2xl text-center">Simple Form</h3>

<.simple_form
  id="component-showcase-simple-form"
  for={@form}
  has_errors={@form_has_errors}
  confirmation_required={true}
  autocomplete="off"
  phx-change="form-validate"
  phx-submit="form-submit"
>
  <%!-- fields --%>
  <.input field={@form[:text]} label="Text input" />
  <.input field={@form[:email]} label="Email input" />
  <.input field={@form[:password]} type="password" label="Password input" />

  <div class="form-control">
    <.input type="checkbox" field={@form[:checkbox]} class="checkbox" label="Checkbox input" />
  </div>

  <div class="form-control">
    <.input
      field={@form[:select]}
      type="select"
      options={[
        [key: "Select an option", value: "", disabled: true],
        [key: "pass", value: "pass"],
        [key: "fail", value: "fail"]
      ]}
      label="Select input"
      phx-debounce="blur"
    />
  </div>

  <div class="form-control">
    <.input
      type="textarea"
      field={@form[:textarea]}
      label="Textarea input"
      class="textarea"
      required
    />
  </div>

  <.input type="captcha" />

  <%!-- actions --%>
  <:actions>
    <.form_button_cancel url="/" />
    <.form_button content="Reset" class="btn-warning" phx-click="form-reset" />
    <.form_button_submit />
  </:actions>
</.simple_form>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Table</h3>

<.table id="showcase-table" rows={@table_rows}>
  <:col :let={row} label="Column 1"><%= row.col1 %></:col>
  <:col :let={row} label="Column 2"><%= row.col2 %></:col>
</.table>

<div class="my-8 divider" />

<h2 class="mb-8 text-3xl text-center">Custom Components</h2>

<h3 class="mb-4 text-2xl text-center">Action Links</h3>

<.action_links>
  <.action_links_item>
    <.link navigate={route(:dev, :component_showcase)}>
      Item 1
    </.link>
  </.action_links_item>
  <.action_links_item kind="back" class="ml-4">
    <.link navigate={route(:dev, :component_showcase)}>
      Item 2
    </.link>
  </.action_links_item>
  <.action_links_item>
    <.link navigate={route(:dev, :component_showcase)} class="italic">
      Item 3
    </.link>
  </.action_links_item>
</.action_links>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Loader</h3>

<div class="text-center">
  <form phx-submit="loader-demo">
    <.button class="w-40" loader={true}>
      Loader Demo
    </.button>
  </form>
</div>

<div class="my-8 divider" />

<h3 class="mb-4 text-2xl text-center">Toast Messages</h3>

<section x-data x-title="component-showcase-toast-container" class="text-center">
  <div class="mb-4 text-lg font-italic" x-show="!$store.toasts">
    Alpine.js is not installed, or <code>Alpine.store('toasts')</code>
    does not exist, so this section will not be functional.
  </div>
  <div>
    <.button
      kind="primary"
      class="w-48 m-1"
      x-on:click="$store.toasts.show('primary', 'Primary toast message example')"
    >
      Primary Toast
    </.button>
    <.button
      kind="secondary"
      class="w-48 m-1"
      x-on:click="$store.toasts.show('secondary', 'Secondary toast message example')"
    >
      Secondary Toast
    </.button>
  </div>
  <div>
    <.button
      kind="accent"
      class="w-48 m-1"
      x-on:click="$store.toasts.show('accent', 'Accent toast message example')"
    >
      Accent Toast
    </.button>
    <.button
      kind="neutral"
      class="w-48 m-1"
      x-on:click="$store.toasts.show('neutral', 'Neutral toast message example')"
    >
      Neutral Toast
    </.button>
  </div>
  <div>
    <.button
      kind="info"
      class="w-48 m-1"
      x-on:click="$store.toasts.show('info', 'Info toast message example')"
    >
      Info Toast
    </.button>
    <.button
      kind="success"
      class="w-48 m-1"
      x-on:click="$store.toasts.show('success', 'Success toast message example')"
    >
      Success Toast
    </.button>
  </div>
  <div>
    <.button
      kind="warning"
      class="w-48 m-1"
      x-on:click="$store.toasts.show('warning', 'Warning toast message example')"
    >
      Warning Toast
    </.button>
    <.button
      kind="error"
      class="w-48 m-1"
      x-on:click="$store.toasts.show('error', 'Error toast message example')"
    >
      Error Toast
    </.button>
  </div>
  <div>
    <.button
      class="w-48 btn m-1"
      x-on:click="$store.toasts.show('primary', 'This is a really long toast message. I mean, really, it\'s quite long. It\'s so long that the text shouldn\'t fit on a single line.')"
    >
      Long Toast
    </.button>
    <.button class="w-48 btn m-1" x-on:click="$store.toasts.clear">
      Clear Toasts
    </.button>
  </div>
</section>
