<.flash_group flash={@flash} />

<div class="template-center">
  <div x-data>
    <div>
      <a
        class="w-full btn btn-lg btn-primary"
        @click="$store.toasts.showSuccess('Goodbye troubles!')"
      >
        Hello world!
      </a>
    </div>
  </div>
</div>
