<.flash_group flash={@flash} />

<div class="template-center">
  <div x-data>
    <div>
      <button class="w-full btn btn-lg btn-primary" x-tooltip="Goodbye troubles!">
        Hello world!
      </button>
    </div>
  </div>
</div>
