<.header>
  Quiz <%= @quiz.id %>
  <:subtitle>This is a quiz record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/quizzes/#{@quiz}/edit"}>
      <.button>Edit quiz</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @quiz.name %></:item>
</.list>

<.back navigate={~p"/quizzes"}>Back to quizzes</.back>
