<.header>
  Edit Quiz <%= @quiz.id %>
  <:subtitle>Use this form to manage quiz records in your database.</:subtitle>
</.header>

<.quiz_form changeset={@changeset} action={~p"/quizzes/#{@quiz}"} />

<.back navigate={~p"/quizzes"}>Back to quizzes</.back>
