<.alert_form_errors :if={@changeset.action} />

<.form_intro_text>
  Fill out the form below to create a new quiz.
</.form_intro_text>

<.quiz_form changeset={@changeset} action={route(:quizzes, :index)} />

<.action_links>
  <.action_links_item kind="back">
    <.link href={route(:quizzes, :index)}>
      Return to quiz list
    </.link>
  </.action_links_item>
</.action_links>
