<.simple_form :let={f} for={@changeset} action={@action}>
  <.input
    field={f[:name]}
    type="text"
    label="Name"
    maxlength={QuizGame.Quizzes.Quiz.name_length_max()}
    required
  />
  <:actions>
    <.form_button_cancel />
    <.form_button_submit />
  </:actions>
</.simple_form>
