@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "tippy.js/dist/tippy.css";
@import "toastify-js/src/toastify.css";

/* BASE
 *
 * Any classes declared in this section will not be purged, even if they are
 * not detected in any HTML markup. That makes this section useful for
 * programatically-inserted elements, such as elements related to pagination
 * and toast messages.
 *
 * Also, selectors in this section will override any default Tailwind styling.
 */

/* tailwind */
.prose {
  max-width: unset;
}

/* toastify-js */
.toastify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  max-width: 92vw;
  min-height: 3rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.25rem;
}

.toastify.on:nth-child(2) {
  /* apply a fade effect to the 2nd toast in the stack (it will be removed
     via javsacript) */
  opacity: 0.5;
  pointer-events: initial;
}

.toastify.on:hover {
  opacity: 1;
}

.toast-close {
  padding: 0.75rem 1rem;
  opacity: 0.8;
  transition: opacity 0.25s;
}

.toast-close:hover {
  opacity: 0.25;
}

.toast-text {
  text-align: center;
}

/* utility */
.list-kind-back {
  list-style-type: "< ";
}

.list-kind-back-2 {
  list-style-type: "<< ";
}

.list-kind-create {
  list-style-type: "+ ";
}

.list-kind-delete {
  list-style-type: "❌ ";
}

.list-kind-edit {
  list-style-type: "✏️ ";
}

.list-kind-forward {
  list-style-type: "> ";
}

.list-kind-index {
  list-style-type: "🗂️ ";
}

@layer base {
  /* alpinejs */
  [x-cloak] {
    /* do not display element until alpine component has loaded */
    display: none !important;
  }

  [x-tooltip] {
    /* prevent iOS devices from selecting text when long-pressing a tooltip */
    user-select: none;
  }

  /* daisyui */
  :root {
    --animation-btn: 0; /* disable button 'pop' effect during initial render */
  }

  a:not(.btn) {
    color: hsl(var(--p));
    font-weight: bold;
  }

  code {
    padding: 0.125rem 0.375rem;
    background-color: hsl(var(--b2));
    border-radius: 0.25rem;
  }

  input,
  select,
  textarea {
    background-color: white !important;
    color: black;
  }

  ol {
    list-style-type: decimal !important;
  }

  .dropdown-content {
    /* prevent other elements (e.g. inputs) from obscuring dropdowns */
    z-index: 1;
  }

  /* phoenix */
  [data-phx-main] {
    /* ensure that the live view element always fills 100% of the vertical
     * height of the screen
     */
    height: 100%;
  }
}

@layer components {
  /* daisyui */
  .alert {
    display: block;
    text-align: start;

    border-radius: 0.5rem;
    border: 1px solid hsl(var(--bc) / 0.2);
  }

  .btn:not(.btn-ghost) {
    border: 1px solid hsl(var(--bc) / 0.2);
  }

  .btn:hover {
    opacity: 0.8;
  }

  .card-body {
    padding: 1rem;
  }

  .dropdown-content {
    border: 2px solid hsl(var(--nc));
  }

  /* custom */
  .fake-link {
    color: hsl(var(--p));
    font-weight: bold;
  }

  .list {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    list-style-type: "- ";
  }

  .list > *:first-child {
    margin-top: 0.5rem;
  }

  .list > *:not(:first-child) {
    margin-top: 0.25rem;
  }

  .list-index {
    margin-bottom: 2rem;
    padding-left: 2rem;
    font-size: 1.25em;
    list-style-type: "- ";
  }

  .list-index ul {
    font-size: 0.8em;
  }

  .list-index > *:not(:first-child) {
    margin-top: 0.5em;
  }

  .template-center {
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@layer utilities {
  .list-dash {
    list-style-type: "- ";
  }

  .show-when-empty {
    content: "\00A0"; /* non-breaking space */
  }

  .show-empty-element:after {
    content: "\00A0"; /* non-breaking space */
  }

  .flex-center {
    justify-content: center;
    align-items: center;
  }
}
