<!DOCTYPE html>
<html lang="en" class="h-full [scrollbar-gutter:stable]">
  <head>
    <%!-- meta --%>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta
      name="description"
      content="A fun and educational quiz game. Practice alone, or compete against your peers!"
    />

    <%!-- title --%>
    <.live_title suffix=" - Quiz Game">
      <%= assigns[:page_title] || "Quiz Game" %>
    </.live_title>

    <%!-- css --%>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <%!-- js --%>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"} />

    <script>
      // if saved theme exists, then set theme before initial render
      if (localStorage.getItem("theme"))
        document.documentElement.dataset.theme = localStorage.getItem("theme");
    </script>
  </head>
  <body class="flex flex-col h-full bg-base-100 antialiased">
    <%!-- utility --%>
    <div>
      <div class="hidden">
        <%!-- search engine description --%>
        A fun and educational quiz game. Practice alone, or compete against your peers!
      </div>

      <noscript>
        <h1 class="py-4 text-3xl bg-gray-700 text-white text-center">
          Please enable Javascript to enable full functionality for this website.
        </h1>
      </noscript>
    </div>

    <.navbar current_user={assigns[:current_user]} />

    <%!-- toasts
    <section id="toast-container" x-data="$store.components.toastContainer" />
     --%>

    <div class="grow flex flex-col mt-6">
      <%!-- page content --%>
      <main class="grow flex flex-col max-w-4xl mx-auto mb-20 container px-4 sm:px-10 md:px-20">
        <%!-- page title/subtitle --%>
        <div :if={assigns[:page_title] || assigns[:page_subtitle]} class="mb-10">
          <h1 class="text-4xl text-center font-bold">
            <%= assigns[:page_title] %>
          </h1>
          <h2 :if={assigns[:page_subtitle]} id="page-subtitle" class="mt-2 text-2xl text-center">
            <%= assigns[:page_subtitle] %>
          </h2>
        </div>

        <%= @inner_content %>
      </main>
    </div>

    <.footer />
  </body>
</html>
