<div :if={Enum.empty?(@quizzes)} class="text-center italic">
  You have not taken any quizzes.
</div>

<ul class="list-index">
  <li :for={quiz <- @quizzes}>
    <a href={route(:quizzes, :show, quiz_id: quiz.id)}>
      <%= quiz.name %>
    </a>
  </li>
</ul>

<.action_links>
  <.action_links_item kind="back">
    <.link href={route(:users, :show)}>
      Return to your profile
    </.link>
  </.action_links_item>
</.action_links>
