<.flash_group flash={@flash} />

<section class="template-center">
  <div>
    <a
      class="w-full btn btn-lg btn-primary"
      phx-click={JS.remove_class("opacity-0", to: "#goodbye-troubles")}
    >
      Hello world!
    </a>
  </div>
  <div id="goodbye-troubles" class="mt-12 text-2xl opacity-0 transition-opacity duration-300">
    Goodbye troubles!
  </div>
</section>
