<.base_page_title title={assigns[:page_title]} subtitle={assigns[:page_subtitle]} />

<div class="template-center">
  <button class="w-full btn btn-lg btn-primary" x-data x-tooltip="Goodbye troubles!" id="hello">
    Hello world!
  </button>
</div>

<.flash_group flash={@flash} />
