<section class="template-center">
  <.action_links title={false} class="mx-auto text-center">
    <.action_links_item class="pr-8 !list-none !text-2xl">
      <.link href={route("quizzes", :index)}>
        View Quizzes
      </.link>
    </.action_links_item>
  </.action_links>
</section>
